{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block main %}

<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <ul class="sidebar-menu">
                {% if usu.tipo.nome == 'admin' %}
                <li>
                    <a class="" href="{% url 'index' %}">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'usuario_list' %}" class="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="{% url 'instituicao_list' %}" class="">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>Instituições</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="{% url 'textos_list' %}" class="">
                        <i class="fa fa-info" aria-hidden="true"></i>
                        <span>Textos</span>
                    </a>
                </li>
                {% endif %}
                <li class="sub-menu">
                    <a href="{% url 'acompanhar_status' %}" class="">
                        <i class="icon_desktop"></i>
                        <span>Acompanhar Status</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <!-- project team & activity start -->
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">
                    Novo Usuário
                </header>
                <div class="panel-body">

                    <form role="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        {% if validar %}
                        <br>
                        <div class="alert alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p>Campos: CPF, EMAIL1 e Celular1 são obrigatórios</p>
                        </div>
                        <br>
                        {% endif %}
                        {{ form2.username|bootstrap }}
                        <label for="basic-url">senha: {{ senha }}</label>
                        {{ form2.password1|bootstrap}}
                        {{ form2.password2|bootstrap}}
                        <button type="submit" class="btn btn-primary">Aplicar</button>
                    </form>
                </div>
            </section>
        </div>
        <!-- project team & activity end -->


        {% endblock %}