{% extends 'base.html' %}
{% load static %}
{% block main %}

       <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-user-md"></i> Perfil - Jovem</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="{% url 'index' %}">Home</a></li>
              <li><i class="fa fa-user-md"></i>Perfil</li>
            </ol>
          </div>
        </div>
        <!-- page start-->
		<div class="card" style="width: 18rem;">
			<img src="{% static 'img\will.jpg' %}" class="img-thumbnail" alt="..." width=120 height=100>
			<div class="card-body">
				<p class="card-text">Williane Marques</p>
			</div>
		</div>
        <!-- page end-->


{% endblock %}