{% extends 'base.html' %}

{% block main %}
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <ul class="sidebar-menu">
                {% if usu.tipo.nome == 'admin' %}
                <li>
                    <a class="" href="{% url 'index' %}">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'usuario_list' %}" class="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="{% url 'instituicao_list' %}" class="">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>Instituições</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="{% url 'textos_list' %}" class="">
                        <i class="fa fa-info" aria-hidden="true"></i>
                        <span>Textos</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'acompanhar_status' %}" class="">
                        <i class="icon_desktop"></i>
                        <span>Acompanhar Status</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-user" aria-hidden="true"></i>Usuarios</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="{% url 'index' %}">Home</a></li>
                    <li><i class="fa fa-laptop"></i>Usuarios</li>
                    <li><i class="fa fa-plus-square-o" aria-hidden="true"></i><a href="{% url 'form_user' %}">Novo</a></li>
                </ol>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-9 col-md-12">

            </div>
        </div>


        <!-- Today status end -->
        <div class="row">

            <!--/col-->

            <!--/social-box-->

        </div>
        <!-- statics end -->




        <!-- project team & activity start -->
        <div class="row">
            <div class="col-lg-12">
                <!--Project Activity start-->
                <!--Project Activity end-->
            </div>
        </div>
        <!-- project team & activity end -->
        <table id="example" class="display" style="width:100%">
            <thead>
            <tr>
                <th>Instituição</th>
                <th>Nome</th>
                <th>Usuario</th>
                <th>CPF</th>
                <th>E-mail 1</th>
                <th>E-mail 2</th>
                <th>Celular 1</th>
                <th>Celular 2</th>
                <th>Editar</th>
            </tr>
            </thead>
            <tbody>
            {% for int in inst %}
            <tr>
                <td>{{ int.instituicao }}</td>
                <td>{{ int.nome }}</td>
                <td>{{ int.user }}</td>
                <td>{{ int.cpf }}</td>
                <td>{{ int.email1 }}</td>
                <td>{{ int.email2 }}</td>
                <td>{{ int.celular1 }}</td>
                <td>{{ int.celular2 }}</td>
                <td><a href="{% url 'usuario_update' int.id %}" class="">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>



        {% endblock %}
